@page "/admin"
@inject NavigationManager Navigation
@inject IJSRuntime js
@using EventRegistrationApp.Models
@inject ApiService ApiService

<section class="mb-6">
    <button @onclick="Logout" class="inline-flex items-center px-6 py-3 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-150 ease-in-out">
        Log Out
    </button>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Create Event</h2>
    <EditForm Model="newEvent" OnValidSubmit="HandleValidSubmit" class="bg-white p-4 rounded-lg shadow-md w-1/2 mx-auto">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="eventName" class="block text-gray-700 text-xs font-medium mb-1">Event Title:</label>
            <InputText id="eventName" class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs" @bind-Value="newEvent.EventName" />
            <ValidationMessage For="@(() => newEvent.EventName)" />
        </div>
        <div class="mb-3">
            <label for="eventDate" class="block text-gray-700 text-xs font-medium mb-1">Event Date:</label>
            <InputDate id="eventDate"
                       class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs"
                       @bind-Value="newEvent.EventDate"
                       min="@currentDateString" />
            <ValidationMessage For="@(() => newEvent.EventDate)" />
        </div>

        <div class="mb-3">
            <label for="eventLocation" class="block text-gray-700 text-xs font-medium mb-1">Location:</label>
            <InputText id="eventLocation" class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs" @bind-Value="newEvent.Location" />
            <ValidationMessage For="@(() => newEvent.Location)" />
        </div>
        <div class="mb-3">
            <label for="eventTime" class="block text-gray-700 text-xs font-medium mb-1">Event Time:</label>
            <InputText id="eventTime" class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs" @bind-Value="newEvent.EventTime" />
            <ValidationMessage For="@(() => newEvent.EventTime)" />
        </div>
        <div class="mb-3">
            <label for="availableSeats" class="block text-gray-700 text-xs font-medium mb-1">Available Seats:</label>
            <InputNumber id="availableSeats" class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs" @bind-Value="newEvent.AvailableSeats" />
            <ValidationMessage For="@(() => newEvent.AvailableSeats)" />
        </div>
        <div class="mb-3">
            <label for="eventCategory" class="block text-gray-700 text-xs font-medium mb-1">Category:</label>
            <select id="eventCategory" class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm" @bind="newEvent.Category">
                <option value="">All Categories</option>
                @foreach (var category in Categories)
                {
                    <option value="@category.CategoryName">@category.CategoryName</option>
                }
            </select>
            <ValidationMessage For="@(() => newEvent.Category)" />
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="block text-gray-700 text-xs font-medium mb-1">Description:</label>
            <InputTextArea id="eventDescription" rows="3" class="px-3 py-1 border border-gray-300 rounded-md w-full text-xs" @bind-Value="newEvent.Description" />
            <ValidationMessage For="@(() => newEvent.Description)" />
        </div>

        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out">
            Create Event
        </button>
    </EditForm>
</section>


<section>
    <h2 class="text-2xl font-bold mb-6">Event List</h2>
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="mb-4 flex justify-between">
            <input type="text" placeholder="Search events..." class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm" @bind="searchQuery" @oninput="OnSearchQueryChanged" />

            <select id="eventCategory" class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm" @bind="selectedCategory">
                <option value="">All Categories</option>
                @foreach (var category in Categories)
                {
                    <option value="@category.CategoryName">@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="max-w-4xl mx-auto grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            @foreach (var ev in FilteredEvents)
            {
                <div class="bg-white shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105 flex flex-col">
                    <img src="https://via.placeholder.com/500x300" alt="@ev.EventName" class="w-full h-40 object-cover">
                    <div class="p-6 flex flex-col flex-grow">
                        <h3 class="text-xl font-semibold mb-2">@ev.EventName</h3>
                        <p class="text-gray-600 mb-4 text-sm">Date: @ev.EventDate.ToString("MMMM d, yyyy")</p>
                        <p class="text-gray-700 flex-grow text-sm">@ev.Description</p>
                        <div class="mt-4 flex gap-4">
                            <button @onclick="() => EditEvent(ev)" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out">
                                Edit
                            </button>
                            <button @onclick="() => ShowDeleteConfirmation(ev.EventId)" class="inline-flex items-center px-4 py-2 bg-red-600 transition ease-in-out delay-75 hover:bg-red-700 text-white text-xs font-medium rounded-md hover:-translate-y-1 hover:scale-110">
                                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                                </svg>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<div class="fixed inset-0 z-10 overflow-y-auto" style="display:@(showSuccessModal ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);" aria-hidden="true">
    <div class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Success</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">Event created successfully</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm" @onclick="CloseSuccessModal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed inset-0 z-10 overflow-y-auto" style="display:@(showDeleteModal ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);" aria-hidden="true">
    <div class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Delete Event</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">Are you sure you want to delete this event? This action cannot be undone.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm" @onclick="ConfirmDelete">Delete</button>
                <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-200 text-base font-medium text-gray-700 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:ml-3 sm:w-auto sm:text-sm" @onclick="CancelDelete">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    private EventModel newEvent = new EventModel();
    private IBrowserFile selectedImage;
    private bool showSuccessModal = false;
    private string currentDateString => DateTime.Now.ToString("yyyy-MM-dd");
    private bool showDeleteModal = false;
    private int eventIdToDelete;

    private async Task HandleValidSubmit()
    {
        if (newEvent == null)
        {
            Console.WriteLine("Event data is not provided.");
            return;
        }

        var content = new MultipartFormDataContent
        {
            { new StringContent(newEvent.EventName), "EventName" },
            { new StringContent(newEvent.EventDate.ToString("yyyy-MM-ddTHH:mm:ss")), "EventDate" },
            { new StringContent(newEvent.Location), "Location" },
            { new StringContent(newEvent.EventTime), "EventTime" },
            { new StringContent(newEvent.AvailableSeats.ToString()), "AvailableSeats" },
            { new StringContent(newEvent.Description), "Description" },
            { new StringContent(newEvent.Category), "Category" }
        };

        var response = await ApiService.CreateEventAsync(content);
        if (response.IsSuccessStatusCode)
        {
            // Handle success (e.g., show a message or redirect)
            showSuccessModal = true;
        }
        else
        {
            // Handle error
        }
    }

    private void CloseSuccessModal()
    {
        showSuccessModal = false;
        Navigation.NavigateTo("/admin", true);
    }

    private List<MyDataType> events = new();
    private string searchQuery = "";
    private string selectedCategory = "";
    private List<CategoryModel> Categories = new();
    private CancellationTokenSource debounceCancellationTokenSource = new CancellationTokenSource();


    private IEnumerable<MyDataType> FilteredEvents =>
        events.Where(e => (string.IsNullOrEmpty(selectedCategory) || e.Category == selectedCategory) &&
                          (string.IsNullOrEmpty(searchQuery) ||
                           e.EventName.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                           e.EventDate.ToString("MMMM d, yyyy").Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                           e.Location.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                           e.EventTime.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                           e.AvailableSeats.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                           e.Description.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)));

    protected override async Task OnInitializedAsync()
    {
        Categories = await ApiService.GetCategoriesAsync();
        var token = await js.InvokeAsync<string>("localStorage.getItem", "authToken");
        if (string.IsNullOrEmpty(token))
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            events = await ApiService.GetDataAsync();
        }
    }

    private async Task EditEvent(MyDataType eventToEdit)
    {
        Navigation.NavigateTo($"/edit-event/{eventToEdit.EventId}");
    }

    private async Task DeleteEvent(int eventId)
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", "Are you sure you want to delete this event?");
        if (confirmed)
        {
            await ApiService.DeleteEventAsync(eventId);
            events = await ApiService.GetDataAsync();
        }
    }
    private async Task ConfirmDelete()
    {
        await ApiService.DeleteEventAsync(eventIdToDelete);
        events = await ApiService.GetDataAsync();
        showDeleteModal = false;
    }
    private void ShowDeleteConfirmation(int eventId)
    {
        eventIdToDelete = eventId;
        showDeleteModal = true;
    }
    private void CancelDelete()
    {
        showDeleteModal = false;
    }

    private async Task OnSearchQueryChanged(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();

        debounceCancellationTokenSource?.Cancel();
        debounceCancellationTokenSource?.Dispose();
        debounceCancellationTokenSource = new CancellationTokenSource();

        var token = debounceCancellationTokenSource.Token;

        try
        {
            await Task.Delay(300, token);
            StateHasChanged();
        }
        catch (TaskCanceledException)
        {
            // Task was canceled, no action needed
        }
    }

    private async Task Logout()
    {
        await js.InvokeVoidAsync("localStorage.removeItem", "authToken");
        Navigation.NavigateTo("/login",true);
    }
}

